@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Indkøbsliste</title>
</head>
<body>
    <div class="text-center m-2">
        <h3> Din indkøbsliste</h3>
        <a class="btn btn-primary" asp-action="AddForm">Tilføj varer til indkøbsliste</a>
    </div>
</body>
</html>